<div class="center">
  
  <div class="avatar">
    <%= image_tag @fighter.avatar.url, size: '150x150', class: "img-circle" %>
  </div>
  
  <div class="profile-information">
    <b><%= @fighter.first_name %> <%= @fighter.last_name %></b></br>
    <%= @fighter.description %></br>
    <%= @fighter.experience_points %> points
  </div>

  <% if @fighter.skills.count < 2 %>
    <%= link_to "Add skill",  new_fighter_skill_path(@fighter) %> to active a fighter
  <% elsif @fighter.skills.count < 9 %>
    <%= link_to "Add skill", new_fighter_skill_path(@fighter) %>
  <% end %>
  
</div>
