<div class="home"> 
  <ul class="list-inline">
    
    <li>  
      <%= render 'shared/avatar', locals: {fighter: @fight.first_fighter, size: "100x100", class: "img-circle"} %>
      
      <div class="profile-information">
        <%= link_to fighter_path(@fight.first_fighter) do %>
          <b><%= @fight.first_fighter.first_name %> <%= @fight.first_fighter.last_name %></b>
        <% end %>
      </div>
    </li>
  
    <li>
      <div class="fight">VS</div>
    </li>
  
    <li>
      <%= render 'shared/avatar', locals: {fighter: @fight.second_fighter, size: "100x100", class: "img-circle"} %>
      
      <div class="profile-information">
        <%= link_to fighter_path(@fight.second_fighter) do %>
          <b><%= @fight.second_fighter.first_name %> <%= @fight.second_fighter.last_name %></b>
        <% end %>
      </div>
    </li>
  </ul>
  
  <div class="fight">Winner</div>
  
  <%= render 'shared/avatar', locals: {fighter: @winner, size: "100x100", class: "img-circle"} %>
  
  <div class="profile-information">
    <%= link_to fighter_path(@winner) do %>
        <b><%= @winner.first_name %> <%= @winner.last_name %></b>
    <% end %>
  </div>
</div>
