<header>
  <nav class="navbar navbar-default">
    <div class="navbar-fluid">
      
      <div class="navbar-header">
        <%= link_to "FightClub", root_path, class: "navbar-brand"  %>
      </div>
      
      <div id="navbar" class="navbar-collapse collapse">   
        <ul class="nav navbar-nav">
          <li><%= link_to "Ranking", root_path %></li>
          <li><%= link_to "Fighters", root_path %></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "New Fighter", new_fighter_path %></li>
          <li><%= link_to "Fight", new_fight_path %></li>
        </ul>
      </div>
      
    </div>
  </nav>
</header>